body {
  font-family: Roboto;
}
header {
  font-family: Roboto;
}
footer {
  font-family: Roboto;
}
.WebStudio {
  font-family: Raleway;
}
.header-container {
  display: flex;
}

.header {
  padding-top: 32px;
    border-bottom: solid 1px #ececec;
  padding-bottom: 32px;
}

.header-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-contact-list {
  display: flex;
  margin-left: 344px;
  align-items: center;
}
.header-email {
  margin-right: 50px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-email:hover {
  color: #2196f3;
}
.header-phone {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-phone:hover {
  color: #2196f3;
}

.button-list {
  display: flex;
  margin-left: 297px;
  margin-right: 297px;
  margin-bottom: 50px;
}
button {
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin-right: 8px;
}

.button1 {
  width: 73px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button2 {
  border-radius: 4px;
  background: #f5f4fa;
}

.button3 {
  width: 112px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button4 {
  width: 103px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button5 {
  width: 130px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
button:hover {
  background: #2196f3;
  color: #fff;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}
.WebStudi-nav:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  background: #fff;
}
.photo-item:hover {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  background: #fff;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.photo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.photo-title {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-top: 20px;
}
.photo-subtitle {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 60px;
}

.footer-address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}
.footer-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  margin-bottom: 20px;
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}
.footer-span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
