
.WebStudio {
    color: #2196F3;
}
.g {
    color: #2196F3;
}
h3 {
    color: #212121;
}
p {
 color: #757575;   
}
h3 {
    color: blue;
}

address {
    color: #FFFFFF;
}

.p1 {
    color: #FFFFFF99;
}

.p2 {
    color: #FFFFFF99;
}

