.WebStudio {
color: #2196F3;
}
.g {
    color: #2196F3;
}
.s {
 background: #2F303A;
}
.button {
color: #FFFFFF;
background-color: #2196F3;
}
footer {
    background-color: #2F303A;
}
h3 {
   color: blue;
}
address {
    color: #FFFFFF;
}
.p1 {
    color: #FFFFFF99;
}

.p2 {
   color: #FFFFFF99;
}