:root {
  --text-color: #212121;
  --title-color: #ffffff;
  --subtext-color: #757575;
  --bg-color: #2f303a;
  --subtitle-color: #2196f3;
  --text2-color: #000;
  --bg-color2: #f5f4fa;
  --bg-color3: #fff;
}

body {
  font-family: Roboto;
}
header {
  font-family: Roboto;
}
footer {
  font-family: Roboto;
}
.WebStudio {
  font-family: Raleway;
}
.header-container {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 32px;
  border-bottom: solid 1px #ececec;
  padding-bottom: 32px;
}

.header {
  padding-top: 32px;
  border-bottom: solid 1px #ececec;
  padding-bottom: 32px;
}

.header-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-link:hover::after {
  display: block;
}

.header-link {
  display: inline-block;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.header-link:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

.header-link::after {
  content: "";
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link:hover::after {
  display: block;
  animation: spin 2s infinite;
}

.header-link2 {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}
.header-link2:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

.header-link2::after {
  content: "";
  width: 72px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link2:hover::after {
  display: block;
  animation: spin 2s infinite;
}

.header-link3 {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}
.header-link3:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-link3::after {
  content: "";
  width: 64px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link3:hover::after {
  display: inline-block;
  animation: spin 2s infinite;
}

.header-contact-list {
  display: flex;
  margin-left: 344px;
  align-items: center;
}
.header-list2 {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.header-contact {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
  transform: scale(1.15);
}

.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.header-tel {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: flex;
}
.header-tel:hover {
  color: #2196f3;
  transform: scale(1.15);
}

.button-list {
  display: flex;
  margin-left: 297px;
  margin-right: 297px;
  margin-bottom: 50px;
}
button {
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin-right: 8px;
}

.button1 {
  width: 73px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button2 {
  border-radius: 4px;
  background: #f5f4fa;
}

.button3 {
  width: 112px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button4 {
  width: 103px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}
.button5 {
  width: 130px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}

.button {
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

button:hover {
  background: #2196f3;
  color: #fff;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  transform: rotate(180deg);
}
.WebStudi-nav:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.photo-item:hover .overlay-box {
  transform: translatey(0);
}

.photo-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin-top: 64px;
  margin-left: 24px;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  background: #fff;
}
.photo-item:hover {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  background: #fff;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.photo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.photo-title {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-top: 20px;
}
.photo-subtitle {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.footer {
  background: var(--bg-color);
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.footer-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter-address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}

.footer-text {
  color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 72px;
}

.footer-lists {
  display: flex;
  gap: 70px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

.footer-icon:hover {
  transform: rotate(180deg);
}

.footer-list3 {
  display: flex;
  gap: 10px;
}

.footer-item3 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item3:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-group {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.email2 {
  display: flex;
  width: 55px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  margin-top: 113px;
}

.footer-icon2 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
  margin-left: 10px;
}

.footer-email {
  display: flex;
  margin-left: 23px;
}

.footer-column {
  display: flex;
}
