:root {
  --text-color: #212121;
  --title-color: #ffffff;
  --subtext-color: #757575;
  --bg-color: #2f303a;
  --subtitle-color: #2196f3;
  --text2-color: #000;
  --bg-color2: #f5f4fa;
  --bg-color3: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}
header {
  font-family: Roboto;
}
footer {
  font-family: Roboto;
}
.WebStudio {
  font-family: Raleway;
}
.header-container {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 24px;
  border-bottom: solid 1px #ececec;
  padding-bottom: 324px;
}

.header {
  padding-top: 32px;
  border-bottom: solid 1px #ececec;
  padding-bottom: 32px;
}

.header-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-link:hover::after {
  display: block;
}

.header-link {
  display: inline-block;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.header-link:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

.header-link::after {
  content: "";
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link:hover::after {
  display: block;
  animation: spin 2s infinite;
}

.header-link2 {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}
.header-link2:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

.header-link2::after {
  content: "";
  width: 72px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link2:hover::after {
  display: block;
  animation: spin 2s infinite;
}

.header-link3 {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}
.header-link3:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1.15);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-link3::after {
  content: "";
  width: 64px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  display: none;
  bottom: -44px;
  left: 0;
  background: #2196f3;
  position: absolute;
}

.header-link3:hover::after {
  display: inline-block;
  animation: spin 2s infinite;
}

.header-contact-list {
  display: flex;
  margin-left: 344px;
  align-items: center;
}
.header-list2 {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.header-contact {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
  transform: scale(1.15);
}

.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.header-tel {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: flex;
}
.header-tel:hover {
  color: #2196f3;
  transform: scale(1.15);
}

.button-list {
  display: flex;
  margin-left: 297px;
  margin-right: 297px;
  margin-bottom: 50px;
}

.WebStudi-nav:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.close-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  display: block;
}

.close-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  left: 490px;
  cursor: pointer;
}

.close:hover .close:focus {
  fill: #2196f3;
}

.modal {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  position: relative;
  margin-left: 41px;
  margin-right: 39px;
}

.name {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.icon:hover {
  fill: #2196f3;
  width: 18px;
  height: 18px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: 5px;
}

.input-group:hover {
  border: 1px solid #2196f3;
}

.form {
  margin-left: 41px;
  margin-right: 39px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #666;
  flex-shrink: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 8px 0;
  background: transparent;
}

textarea {
  height: 80px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 13px;
  display: flex;
  gap: 7px;
}

.checkbox-group a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-group a:hover {
  text-decoration: underline;
}

.button-submit {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 130px;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.header-modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.is-hidden {
  display: none;
}

.bisnes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bisnes-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: 237px;
  margin-right: 237px;
}

.bisnes {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  flex-shrink: 0;
  display: block;
  display: flex;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./image/photo22.webp");
}

.bisnes-button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

.bisnes-button:hover {
  transform: rotate(50deg);
}

.info-list {
  display: flex;
  margin-top: 94px;
  width: 1170px;
  height: 248px;
}
.info-item {
  margin-right: 30px;
  display: block;
  gap: 30px;
}
.info-item1::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(./photo/antenna1.1.webp);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}
.info-item2::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(./photo/clock1.webp);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}
.info-item3::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(./photo/diagram1.webp);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}
.info-item4::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(./photo/astronaut1.webp);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}
.info-subtitle {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}
.info-text {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  text-align: center;
}
.hero-photo {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero-gallery {
  display: flex;
  gap: 30px;
}
.hero-item {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  position: relative;
}

.hero-bg-item {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  flex-shrink: 0;
}

.hero-item > .hero-bg3 {
  position: absolute;
  top: 224px;
  right: 0;
  margin: 0;
  padding: 18px 95px;
  border-bottom-left-radius: 4px;
}

.hero-item > .hero-bg2 {
  position: absolute;
  top: 224px;
  right: 0;
  margin: 0;
  padding: 27px 0;
  width: 100%;
  border-bottom-left-radius: 4px;
}

.hero-item > .hero-bg {
  position: absolute;
  top: 224px;
  right: 0;
  margin: 0;
  padding: 27px 0;
  width: 100%;
  border-bottom-left-radius: 4px;
}

.hero-bg {
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.hero-bg2 {
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.hero-bg3 {
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.modal-label {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 40px;
  flex-shrink: 0;
}

.hero-photo-bg {
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  background: rgba(47, 48, 58, 0.8);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-member {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  text-align: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
}

.team-icon {
  width: 20px;
  height: 20px;
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

.team-list2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-link2 {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
}

.team-link2:hover,
.team-link2:focus {
  background-color: #2196f3;
  transform: rotate(180deg);
}

.team-link2:hover,
.team-icon:hover,
.team-link2:focus,
.team-icon:focus {
  fill: #ffffff;
  transform: rotate(180deg);
}

.team-name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.team-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.team-role {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color3);
}

.customers-title {
  color: #212121;
  text-align: center;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.customers-item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

.customers-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.customers-item:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
  transform: rotate(180deg);
}

.customers-icon:hover {
  fill: #2196f3;
  transform: rotate(180deg);
}

.footer {
  background: var(--bg-color);
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.footer-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter-address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}

.footer-text {
  color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 72px;
}

.footer-lists {
  display: flex;
  gap: 70px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  display: inline-block;
}

.footer-icon:hover {
  transform: rotate(180deg);
}

.footer-list3 {
  display: flex;
  gap: 10px;
}

.footer-item3 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item3:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-group {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.email2 {
  display: flex;
  width: 55px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  margin-top: 113px;
}

.footer-icon2 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
  margin-left: 10px;
}

.footer-email {
  display: flex;
  margin-left: 23px;
}

.footer-column {
  display: flex;
}
